body {
    font-family: 'Oswald', sans-serif;
}

.content-wrapper {
    max-width: 55rem;
    margin: 0 auto;
}


.banner {
    background-color: #61787F;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin: 2rem auto;
    max-width: 55rem;
    justify-content: flex-start;

}


.banner-image {
    height: 6rem;
    width: auto;
    margin: 20px;

}

h1 {
    color: white;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 40px;
    line-height: 44px;
    letter-spacing: 0;
    vertical-align: middle;
}


@media (max-width: 1024px) {
    h1 {
        text-align: center;
        margin-left: 3rem;
    }
}

@media (max-width: 768px) {
    h1 {
        display: none;
    }

    .banner {
        justify-content: center;
        align-items: center;
        margin-left: 30px;
        margin-right: 30px;
    }

    h2 {
        text-align: center;
    }

    .content-wrapper {
        margin-left: 30px;
        margin-right: 30px;
    }

}

h2 {
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 48px;
    line-height: 44px;
    letter-spacing: 0;
    vertical-align: middle;
}

#bestMovieRect {

    width: 95%;
    height: 369px;
    border: 6px solid black;
    display: flex;
    align-items: flex-start;
    padding: 20px;
    gap: 20px;

    margin: 0 auto;

}


#bestMovie img {
    width: 227px;
    height: 334px;
}

.bestMovie {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    height: 100%;
}


#movie-content-wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}


#bestmovieName {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 5px;
}

#bestmovieDescription {
    margin-bottom: auto;
    line-height: 1.4;
    font-size: 14px;
    padding-bottom: 10px;
}

#bestMovieButton {

    border-radius: 25px;
    padding: 2px 4px;

    background-color: rgba(250, 11, 11, 1);
    ;
    color: white;
    border: none;
    font-size: 18px;
    cursor: pointer;

    margin-left: auto;
    display: block;
}

.modal {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    font-family: 'Oswald', sans-serif;
}

.modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
}

.modal-image {
    width: 100%;
    height: auto;
}

#fermerModalBtn {
    width: 214px;
    height: 36px;
    border-radius: 25px;
    padding-top: 2px;
    padding-right: 4px;
    padding-bottom: 2px;
    padding-left: 4px;
    gap: 10px;
    background-color: #f44336;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}





#movieTitleBox {
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: middle;
    position: absolute;
    left: 10%;
    margin: 5px 0;
}


#DetailModalBtn {
    width: 81px;
    height: 25px;
    border-radius: 25px;
    gap: 10px;
    position: relative;
    background-color: rgba(45, 44, 44, 1);
    color: white;
    border: none;
    box-shadow: none;
    padding-top: 2px;
    padding-right: 4px;
    padding-bottom: 2px;
    padding-left: 4px;
}

.top-6 {
    position: relative;
}

#movie-overlay {
    position: absolute;
    top: 20%;
    left: 0;
    width: 89%;
    height: 102px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: left;
    padding: 5px;
    max-width: 242px;
}

#Top6Films,
#genreMovies,
#genreMovies2,
#Top6Mystery,
#Top6Romance {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 2rem;
}

@media (min-width: 640px) {

    #Top6Films,
    #genreMovies,
    #genreMovies2,
    #Top6Mystery,
    #Top6Romance {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

@media (min-width: 768px) {

    #Top6Films,
    #genreMovies2,
    #genreMovies,
    #Top6Mystery,
    #Top6Romance {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}

.top-6 img {
    width: 252px;
    height: 252px;
    object-fit: cover;
}